* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: large;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  grid-row: 1/4;
}

.cloudy {
  background-image: url('./images/cloudy.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.snowy {
  background-image: url('./images/snowy.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rainy {
  background-image: url('./images/rainy.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sunny {
  background-image: url('./images/sunny.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-container {
  display: grid;
  grid-template-rows: 100px max-content;
  justify-content: left;
  margin-left: 3%;
  grid-column: 1/4;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-result {
  margin: auto auto;
  background-color: aliceblue;
  border-radius: 15px;
  opacity: 0.8;
}

.city-options {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-options:hover {
  cursor: pointer;
  background-color: rgb(193, 196, 197);
  border-radius: 15px;
  text-overflow: unset;
  white-space: normal;
}

.search-empty {
  display: flex;
  justify-content: center;
  padding: 10px;
}

input[type='text'] {
  border-radius: 15px;
  height: 50px;
  width: 40vh;
  border: none;
  padding: 5px;
}

input[type='text']:focus,
input[type='text']:hover {
  transform: scale(1.05);
}

input[type='image'] {
  position: absolute;
  width: 10%;
  height: 35%;
  right: 3%;
}

.weather-container {
  display: grid;
  grid-row: 2/4;
  grid-column: 2/4;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  margin: auto 10%;
}

.country {
  padding: 10px;
  font-size: 4vw;
  text-align: left;
}

.temperature {
  padding: 10px;
  font-size: 7vw;
  font-weight: bolder;
}

.weather {
  padding: 10px;
  font-size: 3vw;
}

#unit-check {
  visibility: hidden;
  width: fit-content;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#unit-check:hover {
  cursor: pointer;
  transform: scale(1.05);
}
